  /*================
 PC用のスタイル 
=================*/
@media screen and (min-width: 768px) {
  /* 横幅設定 */
  body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
    z-index: 11;
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  }

  p {
    font-size: 15px;
  } 

  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-style: none;
  }
  
  /* ヘッダー */
  header {
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background-color: #C65151;
    max-width: 1340px;
  }

  #logo > img {
    width: 80px;
    height: 80px;
    margin-left: 50px;
  }

  /* ナビゲーションのレイアウト */
  #nav-pc {
    text-align: right;
    font-size: 20px;
    padding-top: 15px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }

  /* ナビゲーションのリンクの装飾設定 */
  #nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
  }
  #nav-pc > a:link {
    color: white;
  }
  #nav-pc > a:visited {
    color: white;
  }
  #nav-pc > a:hover {
    color: white;
    text-decoration: underline;
  }
  #nav-pc > a:active {
    color: white;
  }

  /* メインビジュアル */
  #main-visual {
    position: relative;
    max-width: 1920px;
    max-height: 1080px;
  }
  #main-massage {
    position: absolute;
    left: 0;
    color: white;
    z-index: 13;
    font-size: 50px;
    font-weight: bold;
    margin: 180px 0 0 50px;
  }
  #main-visual > img {
    max-width: 100%;
    height: auto;
    z-index: 15;
  }

  /* about */

  #About-flex > p {
    font-size: 25px;
    margin: 100px auto 100px auto;
  }

  .index-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: .05em;
    color: #333;
  }

  /* お問い合わせ */
  #index-contact {
    margin: 80px auto 80px auto;
  }

  #contact-zenbu {
    margin: 100px auto 100px auto;
  }
  
  /* 外枠 */
  #index-contact > form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  /* 左列の見出し */
  .contact-heading {
    width: 240px;
    align-self: center;
  }
  /* 見出しのラベル */
  .contact-label {
    font-weight: bold;
  }
  /* 必須 */
  .contact-span {
    color: #ce2222;
    margin: 0 0 0 20px;
    font-weight: bold;
  }

  /* テキストボックス */
  .contact-textbox {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-color: #707070;
    border-bottom-style: solid;
    background-color: #fafafa;
    width: 400px;
    height: 56px;
  }
  /* お問い合わせ内容のテキストエリア */
  .contact-textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-color: #707070;
    border-bottom-style: solid;
    background-color: #fafafa;
    width: 400px;
    height: 200px;
  }

  /* フッター */
  footer {
    background-color: #C65151;
    text-align: center;
    font-size: 20px;
    padding: 80px 80px 30px 80px;
  }
  
  #footer-logo {
    margin-bottom: 30px;
  }

  #footer-link {
    margin-bottom: 50px;
  }
  #footer-link > a {
    text-decoration: none;
    margin: 10px;
  }
  #footer-link > a:link {
    color: #ffffff;
  }
  #footer-link > a:visited {
    color: #ffffff;
  }
  #footer-link > a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  #footer-link > a:active {
    color: #ffffff;
  }

  #sns-footer {
    text-align: left;
    width: 100%;
  }

  #sns-footer > a {
    margin-right: 30px;
  }

  #sns-footer > a > img{
    max-width: 50px;
    max-height: 50px;
  }
  
  #copyright {
    color: #ffffff;
    float: right;
  }

  /* clothes */
  .clothes-scroll {
  height: 1000px;
  overflow: auto;
  }

  .clothes-image > a > img {
  width: 250px;
  }

  .clothes-p {
    font-size: 28px;
    margin: 50px;
    line-height: 2;
  }


  .clothes-list {
  display: flex;   /* 中身をflexboxとして配置する */
  margin: 5px 0;   /* 外側の余白量(上下に5px・左右にゼロ) */
  align-items: center;
  justify-content: space-around;
  }

 .clothes-p > iframe {
  height: 150px;
  width: 90%;
  margin-top: 20px;
 }


}